@charset "utf-8";
/* CSS Document */
.mainlogo
{
	width: 100%;
	max-width: auto;
	height: auto;
	display: block;
	padding: 0.1em 0;
	margin: 0;
}

#welcomeMsg {
	position:absolute;
	width:300px;
	left:50%;
	margin-left:-150px;
	z-index:9999;
}